[submodule "dependency/catch"]
	path = dependency/catch
	url = https://github.com/corvusoft/catch-dependency
	branch = master
[submodule "cmake/cyy_cmake"]
	path = cmake/cyy_cmake
	url = git@github.com:cyyever/cmake.git
